<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
  <add key="alipayKey" value="un3072h0ii614z6w1ijr3d9264dm8xm4" />
    <add key="alipayPartner" value="2088821410871637" />
    <add key="alipaySeller" value="ecity8@163.com" />
    <add key="tDays" value="10" />
    <add key="siteUrl" value="http://nmg80106.lgwsh.net" />
	</appSettings>
	<!-- 数据库连接字符串-->
	<connectionStrings>
		<add name="ConnectionString" connectionString="server=.;uid=tr_jl90606;pwd=tr_jl90606tr_jl90606;database=tr_jl90606;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
 <customErrors mode="Off"/>

		<httpRuntime maxRequestLength="512000" executionTimeout="3600" requestValidationMode="2.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
			<controls>
				<add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
			</controls>
		</pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<defaultDocument>
			<files>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
		<httpErrors errorMode="Detailed"/>
	</system.webServer>
	<system.serviceModel>
		<bindings/>
		<client/>
	</system.serviceModel>
</configuration>
